<body id="error">
	<header>
    <p id="search-link"><a href="/map"></a></p>
    <div id="profile-pic-header"><a href="/profile"><img src="<%= user.twitter.profileImage %>"></div>
    <div id="logged-in"><a href="/login">login</a></div>
	</header>
	<img src="https://deadhomersociety.files.wordpress.com/2013/10/tohiii-11.png" alt="" id="error-img">
</body>