<header>
    <p id="search-link"><a id="map-link" href="/map">Find tweets</a></p>
    <div id="profile-pic-header"><a href="/profile"><img src="<%= user.twitter.profileImage %>"></div>
    <div id="username-logged-in"><a id="username-link" href="/profile"><%= user.twitter.username %></a></div>
</header>

<input id="pac-input" class="controls" type="text" placeholder="Search Box" autofocus />
    <div id="googlemap"></div>