<header>
    <p id="search-link"><a href="/map">Find tweets</a></p>
    <div id="profile-pic-header"><a href="/profile"><%= user.twitter.profileImage %></div>
    <div id="username-logged-in"><a href="/profile"><%= user.twitter.username %></a></div>
</header>

<input id="pac-input" class="controls" type="text" placeholder="Search Box" autofocus />
    <div id="googlemap"></div>