<!-- <div id="map-search">
 -->	<!-- <form action="get">
		<input type="text" name="search" placeholder="search">
		<button>search</button>
	</form>
</div> -->
<input id="pac-input" class="controls" type="text" placeholder="Search Box">
    <div id="googlemap"></div>