<header>
    <p id="search-link"><a id="map-link" href="/map">Explore our curation of the curated.</a></p>
    <div id="profile-pic-header"><a href="/profile"><img src="<%= user.twitter.profileImage %>"></div>
    <div id="username-logged-in"><a id="username-link" href="/profile"></a></div>
</header>

<input id="pac-input" class="controls" type="text" placeholder="Search Box" autofocus />
    <div id="googlemap"></div>

<script src="//maps.googleapis.com/maps/api/js?key=AIzaSyCwdgBlVhH5h7-3lA-XQU5oD--PF-xwILA&libraries=places&callback=initAutocomplete" async defer></script>
