<body id="login-bg">
	<div class="container" id="passport-login-box">

	    <div class="jumbotron text-center">
	        <h1 class="title"><span><img src="../images/disclosure2.gif"></span> twitterhottie.<span><br><p class="subtitle">a reconnoitre of the self through others</p></span></h1>

	        <a href="/auth/twitter" class="btn btn-info"><span class="fa fa-twitter"></span> Log in with Twitter</a>

	    </div>

	</div>
</body>