<body id="login-bg">
	<div class="container" id="passport-login-box">

	    <div class="jumbotron text-center">
	        <h1><span class="fa fa-camera"></span> Twitterhottie</h1>

	        <p>Turn Twitter into a realtime image service by logging in with your account:</p>

	        <a href="/auth/twitter" class="btn btn-info"><span class="fa fa-twitter"></span> Twitter</a>

	    </div>

	</div>
</body>